<div class="container mt-5" style="max-width: 400px">
  <h2 class="mb-4 text-center">Start session</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">Username or Email</label>
      <input
        type="text"
        class="form-control"
        formControlName="login"
        [ngClass]="{'is-invalid': login.touched && login.invalid}"
      />
      @if (login.touched && login.invalid) {
      <div class="invalid-feedback">Field is required.</div>
      }
    </div>

    <div class="mb-3">
      <label class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        [ngClass]="{'is-invalid': password.touched && password.invalid}"
      />
      @if (password.touched && password.invalid) {
      <div class="invalid-feedback">
        @if (password.errors?.['required']) {
        <div>Password is required.</div>
        } @if (password.errors?.['minlength']; as minErr) {
        <div>Minimum {{ minErr.requiredLength }} characters.</div>
        }
      </div>
      }
    </div>

    @if (errorMessage) {
    <div class="alert alert-danger">{{ errorMessage }}</div>
    }

    <button
      type="submit"
      class="btn btn-success w-100"
      [disabled]="loginForm.invalid || loading"
    >
      @if (!loading) {
      <span>Login</span>
      } @if (loading) {
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
      <span> Validating...</span>
      }
    </button>
  </form>
</div>
